[submodule "extlibs/googletest"]
	path = extlibs/googletest
	url = https://github.com/google/googletest.git
[submodule "extlibs/googlebenchmark"]
	path = extlibs/googlebenchmark
	url = https://github.com/google/benchmark
